{% extends "::base.html.twig" %}

{% block body %}
{% import '::macros.html.twig' as form_macro %}

<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<div class="login-cover">
    <div class="login-cover-image">
        {% image '@AppBundle/Resources/public/img/login-bg/bg-6.jpg' %}
        <img src="{{ asset_url }}" data-id="login-cover-image" alt="" />
        {% endimage %}
    </div>
    <div class="login-cover-bg"></div>
</div>

<!-- begin #page-container -->
<div id="page-container" class="fade">
    {% block content %}{% endblock %}
</div>
{% endblock %}